
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir lectura global para perfiles y tickets a cualquier usuario autenticado
    match /{document=**} {
      allow read: if request.auth != null;
    }

    // El Administrador Maestro tiene permiso TOTAL en cualquier documento
    function isMasterAdmin() {
      return request.auth != null && request.auth.uid == '1gYT9nqjUBeM8HVSyWfsW7We6X03';
    }

    match /clientProfiles/{uid} {
      allow write: if isMasterAdmin() || (request.auth != null && (request.auth.uid == uid || request.method == 'update'));
    }
    
    match /technicianProfiles/{uid} {
      allow write: if isMasterAdmin() || (request.auth != null && (request.auth.uid == uid || request.method == 'update'));
    }

    match /adminProfiles/{uid} {
      allow write: if isMasterAdmin() || (request.auth != null && request.auth.uid == uid);
    }

    match /serviceTickets/{ticketId} {
      allow write: if request.auth != null;
    }
  }
}
